/*                                    ✦ theme-light — класс светлой темы                                   */
@media (prefers-color-scheme: dark) {
  :root {
    --background-item: #000;
    --main-color: #00cc14;
    --background-gradient: var(--dark-background);
    --font-title: var(--font-l-contrast);
    --font-main: var(--font-s-contrast);
    --button-color: #00cc14;
    --animation-color: #00cc14;
    --animation-fill-color: #ff0000;
    --text-label-color: #000;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --background-item: #ffffff;
    --main-color: #000;
    --background-gradient: var(--light-background);
    --font-title: var(--font-l);
    --font-main: var(--font-s);
    --animation-color: #000;
    --animation-fill-color: #ff0000;
    --button-color: #fff;
    --text-label-color: #fff;
  }
}
.theme-light {
  --background-item: #ffffff;
  --main-color: #000;
  --background-gradient: var(--light-background);
  --font-title: var(--font-l);
  --font-main: var(--font-s);
  --animation-color: #000;
  --animation-fill-color: #ff0000;
  --button-color: #ffffff;
  --text-label-color: #fff;
}

/*                                     ✦ theme-dark — класс тёмной темы                                     */
.theme-dark {
  --background-item: #000;
  --main-color: #00cc14;
  --background-gradient: var(--dark-background);
  --font-title: var(--font-l-contrast);
  --font-main: var(--font-s-contrast);
  --button-color: #00cc14;
  --animation-color: #00cc14;
  --animation-fill-color: #ff0000;
  --text-label-color: #000;
}
