/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P";
  --font-s: 400;
  --font-s-contrast: 465;
  --font-l: 700;
  --font-l-contrast: 785;

  --light-background: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --dark-background: repeating-linear-gradient(
      90deg,
      #000 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(180deg, #000 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #007f0c 0%, #004306 100%);
}
